<h5>Create a new comment</h5>
<form action=<%= post_comments_url %> method="post">
  Content: <input type="text" name="comment[content]">
  <br>
  <input type="submit" value="Create Comment">
</form>