<h5>Welcome to the PostIt application!</h5>

<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th>User</th>
    <th></th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.url %></td>
    <td><%= post.user.name %></td>
  </tr>
  <% end %>
</table>

<%= link_to "Create new post", new_post_path %>